*,
 *:before,
 *:after {
   box-sizing: border-box;
 }

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
.wrapper{
  max-width: 144rem;
  margin: 0 auto;
}
.container{
  max-width: 117rem;
  margin: 0 auto;
}

html,body,div,button,ul,li,h1,h2,h3,h4,h5,h6,p, span,a{
  margin: 0;
  color: #000000;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $color-gold;
  }
}
li{
  list-style: none;
}

.txt1{
  font-size: 60px;
}
.txt2{
  font-size:40px;
}
.txt3{
  font-size: 30px;
}
.txt4{
  font-size: 24px;
}
.txt5{
  font-size: 20px;
}
.txt6{
  font-size:16px;
}
.h100{
  height:100px ;
}
@mixin after-right{
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);

}

@mixin before-left {
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}