*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

html, body, div, button, ul, li, h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
  color: #000000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: gold;
}

li {
  list-style: none;
}

.cta {
  padding: 15px 50px;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  font-size: 1.6rem;
}

.cta__primary {
  border: none;
  background: #88c298;
  color: white;
}

.cta__border {
  border: 1px solid;
}

.cta:hover {
  background: #88c298;
  color: gold;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 100px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu--item {
  cursor: pointer;
  width: 80px;
}

.header__menu--item:hover {
  color: gold;
  text-decoration: none;
}

.header__menu--item:not(:first-child) {
  margin-left: 40px;
}

.header__authur {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__info {
  width: 45%;
}

.banner__info--title {
  font-size: 60px;
  font-weight: bold;
}

.banner__info--title span {
  display: block;
}

.banner__info--desc {
  padding-top: 30px;
  padding-right: 100px;
}

.banner__info--links {
  padding-top: 30px;
}

.banner__info--links a:first-child {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 40px;
}

.banner__img {
  width: 55%;
}

.banner__img--item {
  width: 100%;
}

.cap {
  padding-top: 140px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cap__box--desc {
  position: relative;
}

.cap__box--desc::after {
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cap__box--desc::before {
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cap__box--title {
  font-size: 40px;
  font-weight: bold;
}

.cap__box span {
  display: block;
}
/*# sourceMappingURL=style.css.map */